<!doctype html>

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#foo').click(function (e) {
            e.preventDefault();
            console.log("FOO");
            $.ajax({
                url: "/foo"
            });
        });
        $('#bar').click(function (e) {
            e.preventDefault();
            console.log("BAR");
            $.ajax({
                url: "/bar"
            });
        });
        $('#baz').click(function (e) {
            e.preventDefault();
            console.log("BAZ");
            $.ajax({
                url: "/baz"
            });
        });
    });
    </script>
</head>
<body>
    <title>Dumb test</title>
    <h1>Dumb test</h1>
    <button id="foo">Foo</button>
    <button id="bar">Bar</button>
    <button id="baz">Baz</button>
</body>
